{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO2</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="card">
        <h1>My Todo List</h1>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Add task">
            </form>
        <ol>
            {% for task in tasks %}
            <li>
                {% if task.done %}
                    <s>{{task}}</s> 
                {% else %}
                    {{task}} 
                {% endif %}
                <a href="{% url 'delete' task.id %}">delete</a>
                <a href="{% url 'done' task.id %}">done</a>
            </li>
            {% endfor %}
        </ol>
    </div>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>